name: Run all tests on PR

permissions:
  id-token: write
  contents: read

on:
  pull_request:
    branches:
      - main
      - next

jobs:
  run-all-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - run: npm ci

      - run: npm run lint

      - run: npm test

      - run: npm run types
